VisualStudio/VSDataViewSupport.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/VSDataViewSupport.xsd" xmlns="http://tempuri.org/VSDataViewSupport.xsd" elementFormDefault="qualified" version="1.0">

<!-- Top level elements -->

<xs:element name="VSDataViewSupport">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="DataViews">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Default" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="minSourceVersion" type="xs:string"/>
								<xs:attribute name="maxSourceVersion" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="DataView" type="DataView" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="browseObjectProvider" type="xs:string"/>
					<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
					<xs:attribute name="commandHandler" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Hierarchies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Hierarchy" type="Hierarchy" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubHierarchies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubHierarchy" type="SubHierarchy" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypeExtensions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TypeExtension" type="TypeExtension" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="browseObjectProvider" type="xs:string"/>
					<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
					<xs:attribute name="commandHandler" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Resources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Resource" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="name" type="xs:string" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="baseName" type="xs:string"/>
					<xs:attribute name="assembly" type="xs:string"/>
					<xs:attribute name="manager" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="browseObjectProvider" type="xs:string"/>
		<xs:attribute name="autoBrowseObject" type="xs:boolean" default="false"/>
		<xs:attribute name="commandHandler" type="xs:string"/>
	</xs:complexType>
</xs:element>

<!-- Main sub-elements -->

<xs:complexType name="DataView">
	<xs:sequence>
		<xs:element name="DisplayName" type="Resource"/>
		<xs:choice>
			<xs:element name="StaticConnectionNode" type="StaticConnectionNode"/>
			<xs:element name="ObjectConnectionNode" type="ObjectConnectionNode"/>
			<xs:element name="HierarchyRef" type="HierarchyRef"/>
		</xs:choice>
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="required"/>
	<xs:attribute name="browseObjectProvider" type="xs:string"/>
	<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
	<xs:attribute name="commandHandler" type="xs:string"/>
	<xs:attribute name="minSourceVersion" type="xs:string"/>
	<xs:attribute name="maxSourceVersion" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Hierarchy">
	<xs:choice>
		<xs:element name="StaticConnectionNode" type="StaticConnectionNode"/>
		<xs:element name="ObjectConnectionNode" type="ObjectConnectionNode"/>
	</xs:choice>
	<xs:attribute name="name" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="SubHierarchy">
	<xs:complexContent>
		<xs:extension base="Children">
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="TypeExtension">
	<xs:sequence>
		<xs:element name="DisplayName" type="Resource" minOccurs="0"/>
		<xs:element name="Identifier" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Part" type="GridProperty" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="Properties" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Property" type="GridProperty" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="CommandBindings" type="CommandBindings" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="required"/>
	<xs:attribute name="browseObjectProvider" type="xs:string"/>
	<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
	<xs:attribute name="commandHandler" type="xs:string"/>
</xs:complexType>

<!-- Main node elements -->

<xs:complexType name="StaticConnectionNode">
	<xs:sequence>
		<xs:element name="InitialDisplayName" type="DisplayName" maxOccurs="unbounded"/>
		<xs:element name="Properties" type="Properties" minOccurs="0"/>
		<xs:element name="CommandBindings" type="CommandBindings" minOccurs="0"/>
		<xs:element name="Children" type="Children" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="nid" type="xs:string"/>
	<xs:attribute name="browseObjectProvider" type="xs:string"/>
	<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
	<xs:attribute name="commandHandler" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ObjectConnectionNode">
	<xs:sequence>
		<xs:element name="InitialDisplayName" type="DisplayName" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Children" type="Children" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="nid" type="xs:string"/>
	<xs:attribute name="type" type="xs:string" default=""/>
</xs:complexType>

<xs:complexType name="StaticNode">
	<xs:sequence>
		<xs:element name="DisplayName" type="DisplayName" maxOccurs="unbounded"/>
		<xs:element name="Icon" type="Icon" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Properties" type="Properties" minOccurs="0"/>
		<xs:element name="CommandBindings" type="CommandBindings" minOccurs="0"/>
		<xs:element name="Children" type="Children" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="nid" type="xs:string" use="required"/>
	<xs:attribute name="hideWhen" type="xs:string" default="False"/>
	<xs:attribute name="browseObjectProvider" type="xs:string"/>
	<xs:attribute name="autoBrowseObject" type="xs:boolean"/>
	<xs:attribute name="commandHandler" type="xs:string"/>
	<xs:attribute name="minSourceVersion" type="xs:string"/>
	<xs:attribute name="maxSourceVersion" type="xs:string"/>
</xs:complexType>

<xs:complexType name="SelectionNode">
	<xs:sequence>
		<xs:element name="DisplayName" type="DisplayName" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Icon" type="Icon" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Children" type="Children" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="nid" type="xs:string"/>
	<xs:attribute name="hideWhen" type="xs:string" default="False"/>
</xs:complexType>

<xs:complexType name="Children">
	<xs:choice maxOccurs="unbounded">
		<xs:element name="StaticNode" type="StaticNode"/>
		<xs:element name="Selection">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="SelectionNode" type="SelectionNode" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" use="required"/>
				<xs:attribute name="restrictions" type="xs:string"/>
				<xs:attribute name="filter" type="xs:string"/>
				<xs:attribute name="sort" type="xs:string"/>
				<xs:attribute name="hideWhen" type="xs:string" default="False"/>
				<xs:attribute name="minSourceVersion" type="xs:string"/>
				<xs:attribute name="maxSourceVersion" type="xs:string"/>
			</xs:complexType>
		</xs:element>
		<xs:element name="SubHierarchyRef" type="HierarchyRef"/>
		<xs:element name="SubHierarchyParamRef">
			<xs:complexType>
				<xs:attribute name="index" type="xs:int" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:choice>
</xs:complexType>

<!-- Hierarchy reference element -->

<xs:complexType name="HierarchyRef">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:element name="SubHierarchy" type="Children"/>
		<xs:element name="SubHierarchyRef" type="HierarchyRef"/>
		<xs:element name="SubHierarchyParamRef">
			<xs:complexType>
				<xs:attribute name="index" type="xs:int" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:choice>
	<xs:attribute name="name" type="xs:string" use="required"/>
</xs:complexType>

<!-- Common node elements -->

<xs:complexType name="DisplayName">
	<xs:simpleContent>
		<xs:extension base="Resource">
			<xs:attribute name="when" type="xs:string" default="True"/>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:complexType name="Icon">
	<xs:attribute name="when" type="xs:string" default="True"/>
	<xs:attribute name="name" type="xs:string" use="required"/>
	<xs:attribute name="assembly" type="xs:string"/>
</xs:complexType>

<!-- Static node properties -->

<xs:complexType name="Properties">
	<xs:sequence>
		<xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="DisplayName" type="Resource"/>
					<xs:element name="Category" type="Resource" minOccurs="0"/>
					<xs:element name="Description" type="Resource" minOccurs="0"/>
					<xs:element name="Value">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="Resource">
									<xs:attribute name="type" type="xs:string" default="System.String"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Property grid information element -->

<xs:complexType name="GridProperty">
	<xs:sequence>
		<xs:element name="DisplayName" type="Resource" minOccurs="0"/>
		<xs:element name="Category" type="Resource" minOccurs="0"/>
		<xs:element name="Description" type="Resource" minOccurs="0"/>
		<xs:element name="StandardValues" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="StandardValue" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="Resource">
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="required"/>
</xs:complexType>

<!-- Command bindings element -->

<xs:complexType name="CommandBindings">
	<xs:sequence>
		<xs:element name="CommandBinding" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="guid" type="xs:string" use="required"/>
				<xs:attribute name="cmdid" type="xs:int" use="required"/>
				<xs:attribute name="handler" type="xs:string"/>
				<xs:attribute name="minSourceVersion" type="xs:string"/>
				<xs:attribute name="maxSourceVersion" type="xs:string"/>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="defaultCommand" type="xs:string"/>
	<xs:attribute name="commandHandler" type="xs:string"/>
</xs:complexType>

<!-- Parameter element -->

<xs:complexType name="Parameter">
	<xs:sequence>
		<xs:element name="Parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="type" type="xs:string" default="System.String"/>
	<xs:attribute name="value" type="xs:string"/>
</xs:complexType>

<!-- Resource element -->

<xs:complexType name="Resource">
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="resource" type="xs:string"/>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

</xs:schema>